* {
    padding: 0;
    margin : 0;
}

body {
    animation: colorchange 10s infinite;
    position : relative;
}

@keyframes colorchange {
    0%   {background: red;}
    25%  {background: yellow;}
    50%  {background: blue;}
    75%  {background: green;}
    100% {background: red;}
}

#overlay {
    background-color   : #ffffff80;
    position           : fixed;
    width              : 100%;
    height             : 100%;
    left               : 0;
    top                : 0;
    transition-duration: 400ms;
}

#h1 {
    width     : 300px;
    height    : 200px;
    text-align: center;
    margin    : auto;
    position  : absolute;
    top       : 50%;
    left      : 50%;
    margin    : -100px 0 0 -150px;
}

#left {
    background-color: #00000000;
    position        : fixed;
    width           : 50%;
    height          : 100%;
    left            : 0;
    top             : 0;
    z-index         : 1000;
}

#right {
    background-color: #00000000;
    position        : fixed;
    width           : 50%;
    height          : 100%;
    left            : 50%;
    top             : 0;
    z-index         : 1000;
}

#right:hover ~ #overlay{
    background-color: #000000d0;
    color           : white;
}

#left:hover ~ #overlay{
    background-color: #ffffff80;
}